.infoData {
    position: absolute;
    top: 4px;
    right: 5px;
}

    .infoData img {
        width: 46px;
        margin-left: 5px;
    }

#listaTarefas {
    position: absolute;
    top: 105px;
    min-width: 360px;
}

#tabListaTarefas .infoData {
    top: 60px;
}

#listaMetas{
    margin: 0;
}

#listaMetas .infoData {
    top: 5px;
}

#adicionarTarefa {
    position: absolute;
    bottom: 10px;
    left: 275px;
}

aside h3 {
    position: absolute;
    min-width: 360px;
    text-align: center;
}

.apenasTelasPequenas {
    display: none;
}

#btnAcionarTarefas {
    position: absolute;
    right: 370px;
    top: 80px;
    transition: right 1s;
    background-color: white;
    background-image: url('../../Images/list.png');
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel.carousel-slider {
    float: left;
    width: calc(100% - 360px);
}

aside {
    height: 100%;
    width: 360px;
    float: right;
    background: white;
    border-left: 1px solid black;
    transition: width 1s;
    position: relative;
    box-sizing: border-box;
}

#containerConteudo {
    float: right;
    height: 100%;
    width: 100%;
    transition: left 1s, width 1s;
    background: white;
}

@media only screen and (max-width: 600px) {
    #containerConteudo {
        width: 100% !important;
    }

    .apenasTelasPequenas {
        display: block !important;
        width: 100vw;
        height: 400px;
        position: absolute;
        background: purple;
        top: 456px;
    }

    .apenasTelasMaiores {
        display: none !important;
    }

    #btnAcionarTarefas {
        display: none;
    }

    aside {
        display: none;
    }

    .carousel.carousel-slider {
        width: 100% !important;
    }
    #slideEsquerda {
        display: none;
    }

    #triggerEsquerda {
        display: none;
    }
}

@media only screen and (max-width: 992px) and (min-width: 601px) {
    /*
    #btnAcionarTarefas {
        top: 96px !important;
    }

    #triggerEsquerda {
        display: block;
        top: 6em;
    }

    .lvlUsuario {
        top: 10em;
    }

        .lvlUsuario span {
            top: 0.25em;
        }

    .barraLvlUsuario {
        top: 7.5em;
    }

        .barraLvlUsuario span {
            top: -0.25em;
        }*/
        
    #slideEsquerda {
        display: none;
    }

    #triggerEsquerda {
        display: none;
    }

    #containerConteudo {
        left: 0;
    }

    .apenasTelasMaiores {
        position: unset !important;
        width: 100% !important;
    }

    #tarefas {
        display: none !important;
    }

    #btnAcionarTarefas {
        display: none !important;
    }

    .carousel.carousel-slider {
        width: 100% !important;
    }
}

@media only screen and (min-width: 993px) {
    .lvlUsuario {
        top: 9em;
    }

        .lvlUsuario span {
            top: 0.25em;
        }

    .barraLvlUsuario {
        top: 6.5em;
    }

        .barraLvlUsuario span {
            top: -0.25em;
        }
}

#triggerEsquerda {
    position: relative;
    z-index: 4;
    left: 3em;
    bottom: 25em;
}



#slideEsquerda {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    width: 20em;
    background: #c4c4c4;
    border: 1px solid black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.imgPerfil {
    width: 8.5em;
    height: 8.5em;
    position: absolute;
    top: 1.5em;
    overflow: hidden;
    border-radius: 50%;
    left: calc(20em/2 - 8.5em/2);
}

.nomeUsuario {
    position: absolute;
    text-align: center;
    top: 9.5em;
    font-weight: 500;
    font-size: 16pt;
    width: 100%;
}

.tituloUsuario {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 3.5em;
    left: 1.25em;
    font-weight: 400;
    font-size: 22pt;
    font-style: italic;
    animation-name: minecraft;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform: rotate(-45deg);
}

@keyframes minecraft {
    0% {
        font-size: 22pt;
    }

    50% {
        font-size: 26pt;
    }

    100% {
        font-size: 22pt;
    }
}

@keyframes minecraftMenor {
    0% {
        font-size: 13pt;
    }

    50% {
        font-size: 15pt;
    }

    100% {
        font-size: 13pt;
    }
}

.lvlUsuario {
    position: absolute;
    left: 2.5em;
    top: 234px;
    width: 100%;
    color: var(--tema);
    border-radius: 50%;
    border: 0.25em solid var(--tema);
    background: rgb(224, 246, 255);
    text-align: center;
    height: 3em;
    width: 3em;
    z-index: 1;
}

    .lvlUsuario span {
        position: relative;
        font-family: 'Century Gothic';
        font-weight: 600;
        font-size: 1.25em;
    }

.barraLvlUsuario {
    position: absolute;
    left: 4.3em;
    width: 100%;
    top: 242px;
    border: 0.25em solid var(--tema);
    border-radius: 50px;
    width: 12.5em;
    height: 2em;
    z-index: 0;
}

    .barraLvlUsuario span {
        position: absolute;
        z-index: -1;
        width: 0;
        height: 2em;
        border-radius: 50px;
        content: "";
        background-color: var(--tema);
    }

.amigos {
    position: relative;
    top: 23.5em;
    height: 20em;
}

    .amigos div {
        position: relative;
        border-bottom: 1px solid black;
        height: 6.5em;
    }

        .amigos div img {
            position: absolute;
            width: 5em;
            height: 5em;
            border-radius: 50%;
            top: 0.75em;
            left: 0.5em;
        }

        .amigos div strong {
            position: absolute;
            left: 4em;
            font-size: 1.5em;
            top: 0.65em;
        }

        .amigos div i {
            position: absolute;
            top: 2.75em;
            left: 6em;
        }

.txtAmigos {
    position: absolute;
    top: 19.5em;
    width: 100%;
    height: 4em;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

    .txtAmigos h1 {
        position: relative;
        text-align: center;
        top: -1em;
        font-size: 2em;
    }

.pesquisarAmigo {
    position: absolute;
    width: 90%;
}

    .pesquisarAmigo #txtPesquisa {
        position: relative;
        left: 1em;
    }

.apenasTelasMaiores {
    position: absolute;
    height: 40em;
    top: 30.9em;
    width: calc(100% - 360px);
    z-index: 2;
    display: flex;
}

.conteudo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(228, 228, 228);
}

#tabAgenda {
    display: flex;
}

.metasObjetivos {
    position: relative;
    width: 100%;
    height: calc(100% - 48px);
    overflow-y: auto;
}

.conteudoLoja .active {
    background-color: var(--tema) !important;
}

.agenda {
}

.feed {
    overflow-y: auto !important;
    height: 91.7% !important;
}

.tabs li a {
    color: rgba(38, 166, 154, 0.7) !important;
}

.tabs li .active {
    color: rgb(38, 166, 154) !important;
}

.tabs li a:focus.active {
    background-color: rgba(38, 166, 154, 0.1) !important;
}

.tabs .indicator {
    background: rgba(38, 166, 154, 0.7) !important;
}

.tabs {
    background: var(--tema);
}


.itensTelasPequenas {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 20vh;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

    .itensTelasPequenas div {
        position: relative;
        width: auto;
        height: 3em;
        line-height: 3em;
        border-radius: 50px;
        background: white;
        overflow: hidden;
        margin: 1em;
        float: left;
        text-align: center;
    }

        .itensTelasPequenas div img {
            position: relative;
            width: 3em;
            height: 3em;
            border-radius: 100%;
            left: 0;
            border: 1px solid black;
        }

        .itensTelasPequenas div strong {
            position: relative;
            font-weight: 400;
            bottom: 1em;
            margin: 0.5em;
        }


.chips ul {
    position: relative !important;
    width: 300px !important;
}

    .chips ul li {
        width: 300px !important;
    }

.conteudoLoja {
    background: #c62525;
    width: 75%;
    height: 25em;
    float: left;
    position: relative;
    left: 12.5%;
    top: 5em;
}

    .conteudoLoja table tr td {
        white-space: nowrap;
        word-break: break-all;
        padding: 0;
        border: 0;
    }

#atualLoja {
    position: relative;
    left: 135px;
    bottom: 13em;
    width: 83.4%;
    height: 100%;
}

    #atualLoja table {
        position: relative;
        top: 1.5em;
        width: auto;
    }

        #atualLoja table tr td {
            display: inline-block;
            width: 100px;
            height: 90px;
            padding: 3px;
            border: 0.5px solid #ff6720;
            cursor: pointer;
        }




.popper,
.tooltip {
    position: absolute;
    z-index: 4;
    background: #FFC107;
    color: black;
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
}

.style5 .tooltip {
    background: #1E252B;
    color: #FFFFFF;
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
}

.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
    border-color: #FFC107;
}

.style5 .tooltip .tooltip-arrow {
    border-color: #1E252B;
}

.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

    .popper[x-placement^="top"] .popper__arrow,
    .tooltip[x-placement^="top"] .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

    .tooltip[x-placement^="bottom"] .tooltip-arrow,
    .popper[x-placement^="bottom"] .popper__arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: transparent;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
    }

.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: 5px;
}

    .popper[x-placement^="right"] .popper__arrow,
    .tooltip[x-placement^="right"] .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

    .popper[x-placement^="left"] .popper__arrow,
    .tooltip[x-placement^="left"] .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
    }

.btnEditarMeta, .btnRemoverMeta {
    margin: 3px !important;
    width: 28px !important;
    height: 28px !important;
    padding: 0 !important;
}