.infoData {
    position: absolute;
    top: 4px;
    right: 5px;
}

    .infoData img {
        width: 46px;
        margin-left: 5px;
    }

#listaTarefas {
    position: absolute;
    top: 105px;
    min-width: 360px;
}

#adicionarTarefa {
    position: absolute;
    bottom: 10px;
    left: 275px;
}

aside h3 {
    position: absolute;
    min-width: 360px;
    text-align: center;
}

.apenasTelasPequenas {
    display: none;
}

#btnAcionarTarefas {
    position: absolute;
    right: 370px;
    top: 80px;
    transition: right 1s;
    background-color: white;
    background-image: url('../../Images/list.png');
    background-size: 72%;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel.carousel-slider {
    float: left;
    width: calc(100% - 360px);
}

aside {
    height: 100%;
    width: 360px;
    float: right;
    background: white;
    border-left: 1px solid black;
    transition: width 1s;
    position: relative;
    box-sizing: border-box;
}

#sliderEsquerda {
    float: left;
}

#containerConteudo {
    float: right;
    height: 100%;
    width: 100%;
    transition: left 1s, width 1s;
    background: white;
}

@media only screen and (max-width: 600px) {
    #containerConteudo {
        width: 100% !important;
    }

    .apenasTelasPequenas {
        display: block !important;
        width: 100%;
        height: 400px;
        position: absolute;
        background: purple;
        top: 456px;
    }

    .apenasTelasMaiores {
        display: none;
    }

    #btnAcionarTarefas {
        display: none;
    }

    aside {
        display: none;
    }

    .carousel.carousel-slider {
        width: 100% !important;
    }

    .hexagon {
        display: none;
    }

        .hexagon:after {
            display: none;
        }

        .hexagon:before {
            display: none;
        }

        .hexagon i {
            display: none;
        }

    #slideEsquerda {
        display: none;
    }

    #slideEsquerda {
        background-color: lightgray;
    }

    #triggerEsquerda {
        display: none;
    }
}

@media only screen and (max-width: 992px) and (min-width: 601px) {
    #btnAcionarTarefas {
        top: 96px !important;
    }

    #triggerEsquerda {
        display: block;
        top: 6em;
    }

    .lvlUsuario {
        top: 10em;
    }

        .lvlUsuario span {
            top: 0.25em;
        }

    .barraLvlUsuario {
        top: 7.5em;
    }

        .barraLvlUsuario span {
            top: -0.25em;
        }
}

@media only screen and (min-width: 993px) {
    #triggerEsquerda {
        display: block;
        top: 6em;
        left: -165px;
    }

    .lvlUsuario {
        top: 9em;
    }

        .lvlUsuario span {
            top: 0.25em;
        }

    .barraLvlUsuario {
        top: 6.5em;
    }

        .barraLvlUsuario span {
            top: -0.25em;
        }
}

#triggerEsquerda {
    font-size: 1rem;
    color: #fff;
    padding: 0 15px;
    cursor: pointer;
    left: -165px;
}

.hexagon {
    position: absolute;
    width: 200px;
    height: 115.47px;
    background-color: #c4c4c4;
    margin: 57.74px 0;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
    z-index: 0;
    text-align: left;
}

    .hexagon i {
        transition: left 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s, -ms-transform 1s, transform 1s;
        color: black;
        font-size: 35px;
        margin-left: 4.2em;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }

    .hexagon:before,
    .hexagon:after {
        content: "";
        position: absolute;
        z-index: 0;
        width: 141.42px;
        height: 141.42px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 28.2893px;
    }

    .hexagon:before {
        top: -70.7107px;
        border-top: solid 1.4142px #333333;
        border-right: solid 1.4142px #333333;
        z-index: -1;
    }

    .hexagon:after {
        bottom: -70.7107px;
        border-bottom: solid 1.4142px #333333;
        border-left: solid 1.4142px #333333;
        z-index: -1;
    }

.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}

.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

#slideEsquerda {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    position: relative;
    width: 20em;
    left: -20em;
    background: #c4c4c4;
    z-index: 2;
    border: 1px solid black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.imgPerfil {
    width: 8.5em;
    height: 8.5em;
    position: absolute;
    top: 1.5em;
    overflow: hidden;
    border-radius: 50%;
    left: calc(20em/2 - 8.5em/2);
}

.nomeUsuario {
    position: absolute;
    text-align: center;
    top: 7em;
    font-weight: 500;
    font-size: 16pt;
    width: 100%;
}

.tituloUsuario {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 9.5em;
    font-weight: 400;
    font-size: 14pt;
    font-style: italic;
}

.lvlUsuario {
    position: absolute;
    left: 2.5em;
    top: 13.5em;
    width: 100%;
    border-radius: 50%;
    border: 0.25em solid rgb(135, 221, 255);
    background: rgb(224, 246, 255);
    text-align: center;
    height: 3em;
    width: 3em;
    z-index: 1;
}

    .lvlUsuario span {
        position: relative;
        font-family: 'Century Gothic';
        font-weight: 600;
        font-size: 1.25em;
    }

.barraLvlUsuario {
    position: absolute;
    left: 4.3em;
    width: 100%;
    top: 14em;
    border: 0.25em solid rgb(135, 221, 255);
    border-radius: 50px;
    width: 12.5em;
    height: 2em;
    z-index: 0;
}

    .barraLvlUsuario span {
        position: absolute;
        z-index: -1;
        width: 0;
        height: 2em;
        border-radius: 50px;
        content: "";
        background-color: rgb(135, 221, 255);
    }

.amigos {
    position: relative;
    top: 21em;
    height: 20em;
}

.amigos div {
    position: relative;
    border-bottom: 1px solid black;
    height: 6.5em;
}

.amigos div img {
    position: absolute;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    top: 0.75em;
    left: 0.5em;
}

.amigos div strong {
    position: absolute;
    left: 4em;
    font-size: 1.5em;
    top: 0.65em;
}

.amigos div i {
    position: absolute;
    top: 2.75em;
    left: 6em;
}

.txtAmigos {
    position: absolute;
    top: 17em;
    width: 100%;
    height: 4em;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

    .txtAmigos h1 {
        position: relative;
        text-align: center;
        top: -1em;
        font-size: 2em;
    }

.pesquisarAmigo {
    position: absolute;
    width: 90%;
}

    .pesquisarAmigo #txtPesquisa {
        position: relative;
        left: 1em;
    }

.apenasTelasMaiores {
    position: absolute;
    height: 40em;
    top: 30.9em;
    width: calc(100% - 360px);
    z-index: 2;
}

.conteudo {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(228, 228, 228);
    display: inline-block;
}

#tabAgenda {
}

.metasObjetivos {
    position: relative;
}

.agenda {
    /**/
}

.feed {
    /**/
}

.tabs li a {
    color: rgba(38, 166, 154, 0.7) !important;
}

.tabs li .active {
    color: rgb(38, 166, 154) !important;
}

.tabs li a:focus.active {
    background-color: rgba(38, 166, 154, 0.1) !important;
}

.tabs .indicator {
    background: rgba(38, 166, 154, 0.7) !important;
}


.itensTelasPequenas
{
    position: absolute;
    top: 9em;
    width: 100%;
    height: 100%;
    display: inline;
    background: yellow;
}

.itensTelasPequenas div
{
    position: relative;
    width: 6em;
    height: 1em;
    border-radius: 50px;
}