
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="../../Content/login.css" type="text/css">
<div id="wrapperLogin">
    <div id="login" class="center z-depth-4">
        <h2>GITS</h2>
        <p class="flow-text">Faça login e junte-se à comunidade de usuários que se organizam com nosso site!</p>
        <hr id="divisaoLogin">
        <i class="medium material-icons left z-depth">access_time</i><i class="medium material-icons right">book</i>
        <i id="esquerdaBaixo" class="medium material-icons left">folder-open</i><i id="direitaBaixo" class="medium material-icons right">hourglass_empty</i>
        <a href="Principal" id="loginGoogle" class="btn-large waves-effect">Login com o Google</a>
    </div>
</div>
<div id="conteinerTabela">
    <table>
        <tr>
            <td>
                <div class="card hoverable">
                    <img src="../../Images/calendar.png">
                    <div class="tituloCard">Organize seu calendário!</div>
                    <div class="card-content">
                        <p>Neste site você pode marcar eventos e compromissos. Temos um sistema inteligente que não deixará você esquecer de datas importantes.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Saiba mais!</a>
                    </div>
            </td>

            <td>
                <div class="card hoverable">
                    <img src="../../Images/tarefa.png">
                    <div class="tituloCard">Lista de tarefas!</div>
                    <div class="card-content">
                        <p>Lembre-se de suas tarefas e classifique-as de acordo com urgência e dificuldade.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Saiba mais!</a>
                    </div>
            </td>

            <td>
                <div class="card hoverable">
                    <img src="../../Images/star.png">
                    <div class="tituloCard">Sistema de recompensas!</div>
                    <div class="card-content">
                        <p>
                            Tendo em mente que estímulos ajudam pessoas a cumprirem seus objetivos, desenvolvemos um sistema que te incentiva a atingir suas metas. Ele
                            conta com conquistas, títulos, experiência, decorações e outros.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">Saiba mais!</a>
                    </div>
            </td>

            <td>
                <div class="card hoverable">
                    <img src="../../Images/high-five.png">
                    <div class="tituloCard">Amigos e eventos sociais!</div>
                    <div class="card-content">
                        <p>
                            Conecte-se a outras pessoas, esteja a par de suas conquistas e organize eventos!
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">Saiba mais!</a>
                    </div>
            </td>
        </tr>
    </table>
</div>
<script src="../../Scripts/login.js"></script>