
@{
    ViewBag.Title = "Bastidores";
}
<script>
    @{
        @:window.usuario = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Usuario));
    }
</script>
<link href="~/Content/bastidores.css" rel="stylesheet" />
<link href="~/Content/home.css" rel="stylesheet" />
<div class="principal">
    <center><h1 class="inverter">Bastidores</h1></center>
    <center>
        <p>
            Essas são algumas fotos que tiramos durante o desenvolvimento do site. (mudar isso depois)
        </p>
    </center>
    <div id="fotos">
        @for (int i = 0; i < 3; i++)
        {
            <div class="row">
                @for (int j = 0; j < 4; j++)
                {
                    <div class="col s12 m3">
                        <img class="materialboxed" src="~/Images/bastidores/b@(i * 4 + j + 1).jpg">
                    </div>
                }
            </div>
        }
    </div>
</div>
<script src="../../Scripts/bastidores.js"></script>