
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="../../Content/home.css" type="text/css">

<div id="containerConteudo">
    <div class="carousel carousel-slider center" id="carouselImportante">
        <div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2">Saiba mais</a>
        </div>
        <div class="carousel-item red white-text" href="#one!">
            <h2>First Panel</h2>
            <p class="white-text">This is your first panel</p>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
            <h2>Second Panel</h2>
            <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
            <h2>Third Panel</h2>
            <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
            <h2>Fourth Panel</h2>
            <p class="white-text">This is your fourth panel</p>
        </div>
    </div>

    <aside id="tarefas">
        <h3>Lista de Tarefas</h3>

        <ul class="collapsible" id="listaTarefas">
        </ul>

        <a class="btn-floating btn-large waves-effect waves-light red" id="adicionarTarefa"><i class="material-icons">add</i></a>
    </aside>

    <div class="apenasTelasMaiores">
        <div class="conteudo">
            <ul id="tabs-swipe-demo" class="tabs">
                <li class="tab col s3"><a onclick="acionarImg()" href="#metasObjetivos"><img id="imgObjetivos" class="iconeVerticalmenteAlinhado" style="width: 1.5rem; height: 1.5rem; opacity: 0.7;" src="~/Images/objetivo.png" />Metas e Objetivos</a></li>
                <li class="tab col s3"><a onclick="acionarImg()" class="active" href="#tabAgenda"><i class="material-icons iconeVerticalmenteAlinhado">today</i>Agenda</a></li>
                <li class="tab col s3"><a onclick="acionarImg()" href="#feed"><i class="material-icons iconeVerticalmenteAlinhado">forum</i>Feed</a></li>
                <li class="tab col s3"><a onclick="acionarImg()" href="#loja"><i class="material-icons iconeVerticalmenteAlinhado">shopping_cart</i>Loja</a></li>
            </ul>
            <div id="metasObjetivos" class="metasObjetivos col s12">
                <ul class="collapsible" id="listaMetas"> </ul>
            </div>
            <div id="tabAgenda">
                
            </div>
            <div id="feed" class="feed col s12">
                feed
            </div>
            <div id="loja" class="loja col s12">
                loja
            </div>
            <div id="tabTarefas" style="display: none;">
                <ul class="collapsible" id="tabListaTarefas">
                </ul>
            </div>
        </div>
    </div>

    <div class="apenasTelasPequenas">

    </div>
</div>

<a class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="left" data-tooltip="Tarefas" id="btnAcionarTarefas" onclick="acionarTarefas()"></a>

<script src="../../Scripts/home.js"></script>

<p id="yyy" style="display: none"></p>