
@{
    ViewBag.Title = "Sobre";
}

<div id="containerConteudo">
    <h1>Com que frequência as pessoas checam suas obrigações?</h1>
    <canvas id="freq" width="100" height="28"></canvas> <br /> <hr /> <br />
    <h1>Como as pessoas se lembram de suas obrigações?</h1>
    <canvas id="lembrar" width="100" height="28"></canvas> <br /> <hr /> <br />
    <h1>As pessoas geralmente têm dificuldade em controlar seu tempo?</h1>
    <canvas id="controlar" width="100" height="28"></canvas>
</div>



<script src="~/Scripts/sobre.js"></script>
<link rel="stylesheet" href="../../Content/sobre.css" type="text/css" />