
@{
    ViewBag.Title = "Sobre";
}

    <div id="containerConteudo">
        <center><h1>GITS</h1><h2>Gerenciador Inteligente de Tempo Sincronizado</h2></center>
        <center><h3>O que é o GITS e por que usá-lo?</h3></center>
        <div class="principal">
            <p>
                O Gerenciador Inteligente de Tempo Sincronizado (GITS) é uma ferramenta online de organização pessoal e coletivo.
                Mas você pode perguntar por que fazer tal ferramenta? Bem, utilizando gráficos de pareto, fizemos uma pequena pesquisa
                com algumas pessoas do curso de informática e obtivémos os seguintes dados:
            </p>
            <ul class="browser-default">
                <li>Mais da metade das pessoas têm dificuldade em controlar seu tempo;</li>
                <li>3 em cada 10 pessoas não checa suas tarefas;</li>
                <li>Quase metade das pessoas têm carência de motivação para realizar suas obrigações;</li>
                <li>1 em cada 3 pessoas não lembra ou usa a memória pra se lembrar de suas tarefas;</li>
                <li>3 em cada 4 pessoas usaria uma plataforma online para se organizar melhor.</li>
            </ul>
            <p>A pesquisa inteira pode ser vista nos gráficos abaixo.</p>
            <center>
                <h5>Com que frequência as pessoas checam suas obrigações?</h5>
                <div class="grafico">
                    <canvas id="freq" width="100" height="28"></canvas>
                </div>
                <hr />
            </center>
            <center>
                <h5>Como as pessoas se lembram de suas obrigações?</h5>
                <div class="grafico">
                    <canvas id="lembrar" width="100" height="28"></canvas>
                </div>
                <hr />
            </center>
            <center>
                <h5>As pessoas geralmente têm dificuldade em controlar seu tempo?</h5>
                <div class="grafico">
                    <canvas id="controlar" width="100" height="28"></canvas>
                </div>
                <hr />
            </center>
            <center>
                <h5>Quais são as principais dificuldades em relação a organização?</h5>
                <div class="grafico">
                    <canvas id="dificuldade" width="100" height="28"></canvas>
                </div>
                <hr />
            </center>
            <p>
                Foi com tudo isso em mente que o GITS nasceu. Nossa propósta é ajudar estudantes a se organizarem melhor, não apenas com suas tarefas escolares, mas com qualquer coisa
                que eles venham a ter como meta. Um livro para ler, exercitar-se, aprender algo novo... Qualquer coisa!
            </p>
            <br />
            <center><h3>Como usar o GITS?</h3></center>
            <p>
                É muito simples usar o GITS. Primeiro, você vai precisar de uma conta do Google. O sistema do GITS funciona com o login com o Google, portanto, não precisa se preocupar em decorar
                mais um login e outra senha. Basta selecionar a sua conta do Google e o site se encarrega do resto!
            </p>
            <p>
                Assim que você loga no site, você é redirecionado para a tela principal do site. Bem no centro, um slide como o abaixo aparecerá, mostrando as tarefas e acontecimentos mais importantes,
                que requerem a sua atenção. Há, ainda, nesse painel um botão "Saiba mais", que te leva à página principal da tarefa.
            </p>
            <center><img src="~/Images/slide.png" /></center>
            <p>
                Logo abaixo do slide, um menu horizontal te dá acesso às quatro abas principais do usuário: Metas e Objetivos, Agenda, Feed e Loja. Explicaremos cada um mais a frente.
            </p>
            <center><img src="~/Images/menuHorizontal.png" /></center>
            <h4>Menu do usuário</h4>
            <p>
                À esquerda do slide principal, há um pequeno ícone como esse (<i class="material-icons">menu</i>). Ele abre um meno lateral mostrando seus dados e uma lista de seus amigos, se houver. O menu
                se parece com o mostrado abaixo.
            </p>
            <center><img src="~/Images/menuUsuario.png" /></center>
            <p>
                O menu do usuário tem também algumas coisas extra, como um <i>título</i>, <i>riqueza</i>, e <i>nível</i>.
                Vamos por partes...
            </p>
            <h5>Título</h5>
            <p>
                O título de um usuário o define. Todos os novos membros, começam como novatos, mas podem mudar seu título com o passar do tempo, comprando-o. O título sempre aparece no canto da
                foto de perfil do usuário, pulsando. É possível também desativar o seu título, de modo que não haverá nada lá além da usa foto de perfil.
            </p>
            <h5>Riqueza</h5>
            <p>
                Quando o usuário completa alguma tarefa ou meta, dependendo de sua dificuldade, ele é recompensado. Essa recompensa vem de duas maneiras diferentes: dinheiro e XP. O dinheiro dos usuários do
                GITS é o Gitcoin (<span class="gitcoin" style="filter: brightness(.6);"></span>). Com ele, você pode comprar vários itens! A compra de itens vai ser mais explicada na parte de Loja.
            </p>
            <h5>Nível</h5>
            <p>
                Como foi dito anteriormente, o usuário também recebe XP como recompensa de seu esforço. Esse XP é convertido em níveis para o usuário. Além de poder ostentar a vontade sua habilidade, os níveis
                também fazem parte da loja. Explicaremos mais à frente.
            </p>
            <h5>Opções</h5>
            <p>
                O menu do usuário também tem um botão de opções, como pôde ser visto acima. Ao clicar nele, uma nova tela abre-se e, então, o usuário pode escolher como gerenciar suas notificações por e-mail.
                A tela pode ser vista abaixo.
            </p>
            <center><img src="~/Images/opcoesNotif.png" /></center>
            <br />
            <h4>Menu de tarefas</h4>
            <p>
                Do mesmo jeito que o menu do usuário, o botão do menu de tarefas se encontra à <b>direita</b> do slide principal. Ele se parece com algoassim
                (<img style="width:20px; height:20px;" src="../../Images/list.png" />). Ao clicá-lo a seguinte tela aparecerá:
            </p>
            <center><img src="~/Images/menuTarefa.png" /></center>
            <p>
                Clicando na tarefa, se esta tiver uma descrição, ela aparecerá.
            </p>

            <h3>Notificações</h3>
            <p>
                O botão de notificações fica no menu do canto superior esquerdo. Ele mostra todas as notificações do usuário. Elas vão desde pedidos de amizade até convites para tarefas. Logo falaremos mais sobre isso. As notificações que exigem
                confirmação do usuário, têm botões correspondentes às decisões possíveis.
            </p>
            <center><img src="~/Images/btnNotif.png" /></center>

            <h3>Abas do usuário</h3>
            <h4>Metas e objetivos</h4>
            <h4>Agenda</h4>
            <p>
                A <b>agenda</b> tem basicamente uma coisa: o calendário de eventos. Nele, você pode navegar entre os meses e ver todas as tarefas e acontecimentos pendentes e passados em suas
                respectivas datas.
            </p>
            <h4>Feed</h4>
            <h4>Loja</h4>

            <h3>Metas e objetivos</h3>

            <h3>Tarefas/Acontecimentos</h3>
            <h4>Criando tarefas e acontecimentos</h4>
            <p>
                É muito fácil criar uma tarefa ou acontecimento. Basta clicar duas vezes no dia correspondente no calendário ou no botão "+" no menu de tarefas. Depois de utilizar alguma dessas duas
                opções, a seguinte tela aparecerá:
            </p>
            <center><img src="~/Images/criarTarefa1.png" /></center>
            <p>
                Você deve escolher entre criar uma tarefa ou um acontecimento.
            </p>
            <h5>Tarefa</h5>
            <p>
                Ao selecionar a criação de uma <i>tarefa</i>, a seguinte tela aparecerá:
            </p>
            <center><img src="~/Images/criarTarefa2.png" /></center>
            <p>
                Aqui, você deve dar um título a sua tarefa. Esse e a data são os únicos campos obrigatórios da criação, mas há ainda várias outras opções.
            </p>
            <p>
                Primeiro, você pode dar uma descrição para a tarefa. Dar descrições às tarefas é altamente recomendado, uma vez que isso te ajuda a lembrar o que fazer exatamente.
            </p>
            <p>
                Depois, um grau de dificuldade pode ser associado à tarefa. Este varia de 1 a 10 e é apartir dele que a recompensa financeira é cálculada.
                <b>Observação: Não nos responsabilizamos por mal uso dessa opção. O site serve para ajudar e estimular o usuário. Se este quiser tirar proveito
                de nossas funcionalidades, isso o envolverá unicamente e, consequentemente, a comunidade</b>
            </p>
            <p>
                Ainda, você pode vincular a tarefa à uma meta sua. Por exemplo, ler o capítulo 2 do livro "Senhor das Batatas" pode fazer parte da meta "Ler o 'Senhor das Batatas'".
            </p>
            <p>
                Por fim, a tarefa não precisa ser só sua! você pode convidar seus amigos para se juntar a você nessa tarefa e eles receberão a notificação para aceitarem ou recusarem. Por exemplo, se todos
                da sua classe precisam fazer 5 exercícios de matemática, você pode criar essa tarefa e adicionar seus colegas para que todos tenham acesso a tarefa!
            </p>
            <h5>Acontecimento</h5>
            <p>
                A adição de acontecimentos é muito parecida, as únicas diferenças são a ausência da opção de dificuldade e de vinculação a uma meta.
            </p>
            <br />
            <h4>Alterando tarefas e acontecimentos</h4>
            <p>
                Para alterar uma tarefa ou acontecimento, basta clicar duas vezes em seu evento no calendário. Isso abrirá a tela de criação de tarefas, porém com tudo preenchido conforme o que você escolheu.
                A partir disso, basta modificar o que quiser e clicar em "salvar alterações".
            </p>
            <br />
            <h4>Removendo tarefas e acontecimentos</h4>
            <p>
                Para excluir uma tarefa ou um acontecimento, deve-se abrir a tela de edição deste. No lado oposto ao botão de salvamento, há um botão vermelho de exclusão. Tarefas ou acontecimentos excluídos
                só podem ser retomados por convite de algum administrador deste.
            </p>
            <br />
            <h4>Administradores</h4>
            <p>
                Toda tarefa e acontecimento tem administradores. Só eles podem convidar novos usuários para a tarefa/acontecimento e excluí-lo. Qualquer participante da tarefa pode requisitar a posição de
                administrador, mas cabe a estes aceitar ou não.
            </p>
        </div>
    </div>



<script src="~/Scripts/sobre.js"></script>
<link rel="stylesheet" href="../../Content/sobre.css" type="text/css" />