<link href='../../Scripts/core/main.css' rel='stylesheet' />
<link href='../../Scripts/daygrid/main.css' rel='stylesheet' />
<link href='../../Scripts/list/main.css' rel='stylesheet'/>
<link href='../../Scripts/timegrid/main.css' rel='stylesheet'/>
<script src='../../Scripts/core/main.js'></script>
<script src='../../Scripts/daygrid/main.js'></script>
<script src='../../Scripts/interaction/main.js'></script>
<script src='../../Scripts/list/main.js'></script>
<script src='../../Scripts/timegrid/main.js'></script>
<script src='../../Scripts/luxon/main.js'></script>
<script src='../../Scripts/moment/main.js'></script>
<script src='../../Scripts/moment-timezone/main.js'></script>
<script src='../../Scripts/rrule/main.js'></script>
<div id="agenda"></div>